.btnSubmit {
  border-radius: 1rem;
  padding: 0.6%;
  border: none;
  cursor: pointer;
  background-color: #333;
  color: #fcf9f9;
  width: 40%;
  margin: 0 auto;
  display: block;
}
/* Fix de estilo para centrar y adaptar React Select */
.react-select__control {
  border-radius: 8px;
  border: 1px solid #ccc;
  min-height: 38px;
  font-size: 0.95rem;
  box-shadow: none;
}

.react-select__menu {
  z-index: 9999;
}

.react-select__value-container {
  padding: 2px 8px;
}
