
.login-form-2{
    border-radius: 15px;
    box-shadow: 0px 0px 40px #848484;
    padding: 5%;
    background:#ffffff;
}
.login-form-2 h3{
    text-align: center;
    color: #8d8b8b;
}

.btnSubmit {
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
    width: 75%;
    margin: 0 auto;
  }

.login-form-2 .btnSubmit{
    background-color: #333;
    color: #fcf9f9;
}
.login-form-2 .ForgetPwd{
    color: #e20f0f;
    font-weight: 600;
    text-decoration: none;
}
