.login-container {
  margin-top: 5%;
}
.login-form-1 {
  border-radius: 30px;
  box-shadow: 0px 0px 50px #848484;
  padding: 5%;
  background-color: #ffffff;
  margin-left: 30%;
}
.display-1 {
  margin-bottom: 5%;
  text-align: center;
}
.login-form-1 h3 {
  text-align: center;
  color: #0e0d0d;
}

.login-container form {
  padding: 5%;
}

.login-form-1 .btnSubmit {
  color: #fff;
  background-color: #1b1c1d;
  border-radius: 1rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;
  width: 75%;
  margin: 0 auto;
}

.login-form-1 .ForgetPwd {
  color: #201f1f;
  font-weight: 600;
  text-decoration: none;
}
.input-user {
  width: 50%;
}
